:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 0px;
    --theme: rgb(255, 255, 255);
    --darkest: rgb(225, 225, 225);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --code-block-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(142, 142, 142);
    --hover: rgb(77, 79, 85);
    --home-info-tile: url('/images/wth_isometric_tile.png');
}

.dark {
    --theme: rgb(32, 29, 31);
    --darkest: rgb(20, 20, 20);
    --entry: rgb(46, 46, 51);
    --primary: rgb(220, 220, 220);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(225, 225, 225);
    --home-info-tile: url('/images/blk_isometric_tile.png');
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
